* {
    padding: 0;
    margin: 0;
}

body {
    background: #343434;
}

#toastContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    left: 0;
    top: 0;

    height: 100vh;
    width: 30%;
    min-width: 300px;

    z-index: 999;
    pointer-events: none;

    >* {
        pointer-events: auto;
    }
}

#blockArtNavbar {
    display: flex;
    justify-content: space-around;

    padding: 1rem;

    background: #343434;


    #activeColorBlock {
        margin: 0 1rem;
    }
}

button {
    box-shadow: 0px 1px 0px 0px #fff6af;
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    background-color: #ffec64;
    border-radius: 6px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;

    &:hover {
        background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color: #ffab23;
    }

    &:active {
        position: relative;
        top: 1px;
    }

}

sk- {
    &toast-message {
        margin-top: 1rem;

        display: flex;
        align-items: center;
        justify-content: space-around;
        background: #f3ad7e;

        >p {
            padding: 1rem;

        }

        >button {
            border: none;

            padding: 1rem;
        }
    }

    &brush {
        pointer-events: none;
    }

    &menu {
        display: flex;
        width: 100%;
        padding: 1rem 0;

        >sk-menu-item {
            display: block;
            margin: 0 1rem;
            padding: 0.6rem;
            border-radius: 6px;
            background: #343434;
            color: rgb(192, 232, 235);
            cursor: pointer;

            &:hover {
                opacity: 0.8;
            }

            &.active {
                background: #f3ad7e;
            }
        }
    }

    &block {
        display: block;

        background: pink;
        transition: all 100ms ease;

        // border-radius: 25%;
        &:hover {
            border-radius: 25%;
            cursor: pointer;
        }

        &.active {
            // background: pink;
            opacity: 0.6;

            &.pallette-color {
                box-shadow: inset 0 0 10px black;
            }
        }

        >svg {
            pointer-events: none;
        }
    }

    &row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        width: auto;
        // gap: 1px;

        width: min-content;
        margin: 0 auto;
    }


    &board {
        display: flex;
        flex-direction: column;
        width: min-content;
        // gap: 1px;

        margin: 0 auto;
    }

    &modal {
        display: none;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 0;
        left: 0;

        height: 100vh;
        width: 100%;

        >aside {
            width: 50%;
            min-width: 300px;
            min-height: 300px;

            background-color: #fff6af;

            display: flex;
            flex-direction: column;

            >nav {
                display: flex;
                justify-content: end;

                padding: 0.4rem;
            }

            >div {
                display: flex;
                flex-grow: 2;

            }
        }
    }

    &settings {
        width: 100%;

        background: #343434;
        color: #f2f2f2;

        .settings-section {
            > input {
                width: 66%;
                padding: 9px;
                margin: 5px;

                border-radius: 4px;
                border: none;
                border-bottom : 2px solid #ffaa22;
            }
        }

        button {
            display: block;
            margin: 0 auto;
            width : 60%
        }
                    
        input.unsaved {
            background: #fff6af;
        }
    }
    &saved {
        width: 100%;

        background: #343434;
        color: #f2f2f2;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;


        &-icon {
            margin: 0.4rem;

            display: grid;
            grid-template-areas: "a b" " c d" "e e";

            > hah {
                grid-area: e;

                text-align: center;
            }

            &:hover {
                border-radius: 4px;
            }
            > sk-block:hover {
                border-radius: 0;
            }
        }
    }
}